<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scada.virtualizer.repository.mapper.equipment.DbStoStomstMapper">

    <select id="selectStoStomstAllList" resultType="com.scada.virtualizer.repository.dto.equipment.DbStoStomst">
        select WHID,
               LOCT,
               RACK_STS,
               STOCK_STS
        FROM DB_STO_STOMST
    </select>

</mapper>